# Python
__pycache__/
*.pyc

# Virtual env
venv/

# Env file
.env
.env.test

# IDE
.vscode/
.idea/

# OS
.DS_Store

# Alembic cache
alembic/__pycache__/

# firebase_Service_account
firebase_Service_account.json


# upload folder
uploads/
